span.hint-number {
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 45px;
    padding: 5px 20px;
    display: inline-block;
    margin: 5px;
}

.hint-text {
    font-size: 23px;
    display: flex;
    height: 100%;
    align-items: center;
}