div.code {
    font-size: 23px;
    font-weight: bold;
}



.hint-text {
    color: white;
    font-weight: bold;
    font-size: 36px;
    padding: 2px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    border: 2px solid white;
    background-color: inherit;   
    width: 60px; 
}

button {
    
    padding: 10px 15px;
    background-color: white;
    border: none;
    font-weight: bold;
    margin: 10px;
}